.about {
}

.about_contact {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	padding: $scale-xl $scale-m;
	max-width: 400px;
	margin: 0 auto;
	&::after {
		width: 100%;
		height: $scale-xl*2+$scale-m;
		content: ' ';
		position: absolute;
		left: 0;
		top: 0;
		background: $grey-4;
	  background: linear-gradient(to right, $blue-5 , $blue-4);
	}

	.contact_item {
		flex: 0 0 auto;
		width: $scale-m;
		height: $scale-m;
		fill: $grey-1;
		z-index: 1;
    &-phone:hover {
      fill: #34BC6E;
    }
    &-mail:hover {
      fill: #E62325;
    }
    &-twitter:hover {
      fill: #1DA1F2;
    }
    &-linkedin:hover {
      fill: #0077B5;
    }
    &-dribbble:hover {
      fill: #EA4C89;
    }
	}
}

$profileImageSize: $baseline*7; //140px

.about_photo {
	position: relative;
	padding: $scale-s 0 0 0;
  z-index: 1;
  background: $grey-4;
  background: linear-gradient(to right, $blue-5 , $blue-4);
	.photo {
		width: $profileImageSize;
		height: $profileImageSize;
		background: url('/images/profile.jpg');
    background-color: $blue-1;
		background-size: auto 120%;
		background-position: 56% 0;
		border-radius: 50%;
		margin: 0 auto;
	}
  .icon {
    width: $profileImageSize;
    height: $profileImageSize;
    margin: 0 auto;
    display: block;
    background: #FFF;
    padding: $scale-l;
    border-radius: 50%;
    fill: $blue-3;
  }
	&:before {
		content: ' ';
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 0;
		height: $profileImageSize+$scale-s;

		border-top: $profileImageSize solid transparent;
		border-left: 100vw solid #FFF;
		z-index: -1;
	}
}

.about_bio {
	padding: 0 $scale-m;
	text-align: center;
  margin: -$scale-xs auto $scale-l auto;
  z-index: 100;
  position: relative;
	max-width: 400px;
}

.bio_name {
  @extend %type-xl;
  display: block;
  font-weight: 700;
  line-height: $scale-xl;
  color: $blue-4;
}
.bio_title {
  @extend %type-s;
  display: block;
  padding: 0 0 $scale-xl 0;
  color: $blue-4;
}

.bio_desc {
  @extend %type-m;
}
