.about {
	position: relative;
	flex: 0 0 100%;
	background: $blue-4;
	background: linear-gradient(to right, $blue-5 , $blue-4);
	// min-width: 300px;
	display: flex;
	flex-flow: column wrap;
	align-content: flex-start;

	@include media(">tablet") {
		flex: 1 1 20%;
		max-width: 275px;
	}
	@include media(">desktop") {
		flex: 1 1 5%;
	}
}

.about_contact {
	flex: 0 0 auto;
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	padding: $scale-xl $scale-m;
	margin: 0 auto;
	position: relative;
	&::after {
		width: 100%;
		height: $scale-xl*2+$scale-m;
		content: ' ';
		position: absolute;
		left: 0;
		top: 0;
	}
	@include media('>tablet') {
		order: 2;
		background: #FFF;
	}

	.contact_item {
		flex: 0 0 auto;
		width: $scale-m;
		height: $scale-m;
		fill: $grey-1;
		z-index: 1;
		@include media('>tablet') {
			fill: $blue-4;
		}
    &-phone:hover {
      fill: #34BC6E;
    }
		&-mail {
			@include media('>tablet') {
				display: none;
			}
		}
    &-mail:hover {
      fill: #E62325;
    }
    &-twitter:hover {
      fill: #1DA1F2;
    }
    &-linkedin:hover {
      fill: #0077B5;
    }
    &-dribbble:hover {
      fill: #EA4C89;
    }
	}
}

$profileImageSize: $baseline*7; //140px

.about_photo {
	position: relative;
	padding: $scale-s 0 0 0;
	z-index: 1;
  .icon {
    width: $profileImageSize;
    height: $profileImageSize;
    margin: 0 auto;
    display: block;
    background: #FFF;
    padding: $scale-l;
    border-radius: 50%;
    fill: $blue-3;
		@include media('>tablet') {
			width: $profileImageSize / 1.5;
			height: $profileImageSize / 1.5;
			padding: $scale-s;
		}
  }
	@include media('>tablet') {
		padding: $scale-xl 0 0 0;
	}
}

.about_bio {
	padding: $scale-s $scale-m;
	text-align: center;
  margin: -$scale-l 0 0 0;
  position: relative;
	max-width: 100%;
	// max-width: 400px;
	background: #FFF;
	flex: 1 0 auto;
	z-index: 0;
	@include slant($scale-xl*2, #FFF);
	@include media('>tablet'){
		margin: -$scale-m 0 0 0;
		@include slant($scale-xl, #FFF);
	}
}

.bio_name {
	@include type('xl');
  display: block;
  font-weight: 700;
  line-height: $scale-xl;
  color: $blue-4;
	z-index: 2000;
	@include media('>tablet'){
		@include type('l');
	}
}
.bio_title {
	@include type('s');
  display: block;
  padding: 0 0 $scale-xl 0;
  color: $blue-4;
	@include media('>tablet'){
		padding: 0 0 $scale-m 0;
	}
}

.bio_desc {
	@include type('m');
	@include media('>tablet'){
		@include type('s');
		margin: 0 0 $scale-m;
	}
}

.about_email {
	display: none;
	@include button('solid', $orange-4, 'darken');
	vertical-align: top;
	svg {
		height: $scale-s;
		vertical-align: top;
		margin: 0 $scale-xs 0 0;
	}
	@include media('>tablet') {
		display: inline-block;
	}
}
