button {
  min-width: $size-m*5;
  border: none;
  padding: $size-xs $size-l;
  border-radius: 0;
  @include type('s');
  font-weight: 500;
  color: #FFF;
  transition: background 250ms ease-in-out;
  svg {
    fill: inherit;
  }
  &:hover {
    cursor: pointer;
  }
}

@mixin button($style, $colour, $hover) {
  @if $style == 'solid' {
    background: $colour;
    position: relative;
    &::after {
      width: calc(100% - #{$size-s});
      height: calc(100% - #{$size-xs});
      content: ' ';
      display: block;
      background: transparent;
      position: absolute;
      top: $size-xs;
      left: $size-xs;
      border-radius: 50%;
      box-shadow: 0 0 $size-s rgba($grey-3,0.80);
      z-index: -1;
    }
  }
  @if $style == 'knockout' {
    background: transparent;
    box-shadow: inset 0 0 0 2px $colour;
    color: $colour !important;
    fill: $colour !important;
    &:hover {
      box-shadow: none;
    }
  }
  @if $hover == 'darken' {
    color: $grey-1;
    fill: $grey-1;
    &:hover {
      color: $grey-1 !important;
      fill: $grey-1 !important;
      background: darken( $colour, 10% );
    }
  }
  @if $hover == 'lighten' {
    color: $grey-5;
    fill: $grey-5;
    &:hover {
      color: $grey-5 !important;
      fill: $grey-5 !important;
      background: lighten( $colour, 10% );
    }
  }
}
