@font-face {
	font-family: 'Rubik';
	src: url('../fonts/Rubik-Medium.eot');
	src: url('../fonts/Rubik-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Rubik-Medium.woff') format('woff'),
		url('../fonts/Rubik-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Rubik';
	src: url('../fonts/Rubik-MediumItalic.eot');
	src: url('../fonts/Rubik-MediumItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Rubik-MediumItalic.woff') format('woff'),
		url('../fonts/Rubik-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Rubik';
	src: url('../fonts/Rubik-Light.eot');
	src: url('../fonts/Rubik-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Rubik-Light.woff') format('woff'),
		url('../fonts/Rubik-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Rubik';
	src: url('../fonts/Rubik-LightItalic.eot');
	src: url('../fonts/Rubik-LightItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Rubik-LightItalic.woff') format('woff'),
		url('../fonts/Rubik-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}


////////////////////////////////
// Modum
////////////////////////////////

@font-face {
    font-family: 'Modum';
    src: url('../fonts/Modum-Light-webfont.eot');
    src: url('../fonts/Modum-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Modum-Light-webfont.woff2') format('woff2'),
         url('../fonts/Modum-Light-webfont.woff') format('woff'),
         url('../fonts/Modum-Light-webfont.ttf') format('truetype'),
         url('../fonts/Modum-Light-webfont.svg#modumlight') format('svg');
    font-weight: 300;
}

@font-face {
    font-family: 'Modum';
    src: url('../fonts/Modum-Regular-webfont.eot');
    src: url('../fonts/Modum-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Modum-Regular-webfont.woff2') format('woff2'),
         url('../fonts/Modum-Regular-webfont.woff') format('woff'),
         url('../fonts/Modum-Regular-webfont.ttf') format('truetype'),
         url('../fonts/Modum-Regular-webfont.svg#modumregular') format('svg');
    font-weight: 400;
}

@font-face {
    font-family: 'Modum';
    src: url('../fonts/Modum-Italic-webfont.eot');
    src: url('../fonts/Modum-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Modum-Italic-webfont.woff2') format('woff2'),
         url('../fonts/Modum-Italic-webfont.woff') format('woff'),
         url('../fonts/Modum-Italic-webfont.ttf') format('truetype'),
         url('../fonts/Modum-Italic-webfont.svg#modumitalic') format('svg');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Modum';
    src: url('../fonts/Modum-Bold-webfont.eot');
    src: url('../fonts/Modum-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Modum-Bold-webfont.woff2') format('woff2'),
         url('../fonts/Modum-Bold-webfont.woff') format('woff'),
         url('../fonts/Modum-Bold-webfont.ttf') format('truetype'),
         url('../fonts/Modum-Bold-webfont.svg#modumbold') format('svg');
    font-weight: 700;
}
