@font-face {
	font-family: 'Rubik';
	src: url('../fonts/Rubik-Medium.eot');
	src: url('../fonts/Rubik-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Rubik-Medium.woff') format('woff'),
		url('../fonts/Rubik-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Rubik';
	src: url('../fonts/Rubik-Light.eot');
	src: url('../fonts/Rubik-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Rubik-Light.woff') format('woff'),
		url('../fonts/Rubik-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Rubik';
	src: url('../fonts/Rubik-LightItalic.eot');
	src: url('../fonts/Rubik-LightItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Rubik-LightItalic.woff') format('woff'),
		url('../fonts/Rubik-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}
