%type {
  font-family: 'Rubik', HelveticaNeue, Helvetica, Arial, sans-serif;
  &-xs {
    @extend %type;
    font-size: .75rem; // 12px
    line-height: $scale-s;  // 20px
  }
  &-s {
    @extend %type;
    font-size: .875rem; // 14px
    line-height: $scale-s; // 20px
  }
  &-m {
    @extend %type;
    font-size: 1.125rem; // 18px
    line-height: $scale-l; // 25px
  }
  &-l {
    @extend %type;
    font-size: 1.375rem; // 16px
    line-height: $scale-l; // 25px
  }
  &-xl {
    @extend %type;
    font-size: 1.875rem; // 30px
    line-height: $scale-xl; //45px
  }
  &-xxl {
    @extend %type;
    font-size: 2.625rem; // 42px
    line-height: $scale-xl; // 45px
  }
}
