$trans-card: $trans-r;
$trans-cta: $trans-s;
$trans-fold: $trans-r;

$trans-card-delay: $trans-cta;
$trans-cta-delay: $trans-fold*.75;
$trans-fold-delay: $trans-cta/2;

.work {
  .section_title {
    flex: 0 1 auto;
  }
  &_item {
    background: $grey-5;
    position: relative;
    color: $grey-5;
    display: inline-flex;
    flex-flow: column;
    justify-content: flex-end;
    text-decoration: none;
    min-width: 190px;
    transition: transform $trans-card ease $trans-card-delay;
    &:hover {
      transform: scale(1.05);
      transition: transform $trans-card ease 0ms;
    }

    &:nth-child(1) {
      animation: fade-scale-in 500ms;
    }
    &:nth-child(2) {
      animation: fade-scale-in 750ms;
    }
    &:nth-child(3) {
      animation: fade-scale-in 1000ms;
    }
    &:nth-child(4) {
      animation: fade-scale-in 1250ms;
    }
    &:nth-child(5) {
      animation: fade-scale-in 1500ms;
    }

    &:hover {
      .item_cta {
        margin-bottom: 0px;
        transition: margin $trans-cta ease;
        &:before { // bottom
          border-right: $size-l/2 solid transparent;
          border-top: $size-l/2 solid transparent;
          transition: border-color $trans-fold/2 ease $trans-fold-delay - ($trans-fold/2),
                      transform 0ms ease $trans-fold-delay - ($trans-fold/2);
        }
        &:after { // top
          transform: rotate3d(-1, -1, 0, 180deg);
          border-right: $size-l/2 solid $yellow-2;
          border-top: $size-l/2 solid $yellow-2;
          box-shadow: 0px 2px $size-xs rgba($grey-5,0.5);
          transition: transform $trans-fold ease-out $trans-fold-delay,
                      box-shadow $trans-fold ease $trans-fold-delay+($trans-fold/2),
                      border-color 0ms ease $trans-fold-delay+($trans-fold/2);
        }
      }
    }

    &.brewbox {
      background-image: url('../images/brewbox.jpg');
      background-size: cover;
    }
    &.cci {
      background-image: url('../images/cci.png');
      background-size: cover;
    }
    &.h2h {
      background-image: url('../images/h2h.jpg');
      background-size: cover;
    }
    &.base5 {
      background-image: url('../images/base5.jpg');
      background-size: cover;
    }
    &.wasm {
      background-image: url('../images/wasm.jpg');
      background-size: cover;
    }

    .item_cta {
      @include type('s');
      height: $size-l;
      font-weight: bold;
      overflow: hidden;
      position: relative;
      text-align: left;
      margin-bottom: -26px;
      transition: margin $trans-cta $trans-cta-delay ease;
      &:hover svg #arrow{
        transform: translate(2px, -2px);
      }
      &:before, &:after {
        width: 0;
        height: 0;
        content: ' ';
        position: absolute;
        right: 0;
        top: 0;
      }

      &:before { // bottom
        border-left: $size-l/2 solid $yellow-4;
        border-right: $size-l/2 solid $yellow-4;
        border-top: $size-l/2 solid $yellow-4;
        border-bottom: $size-l/2 solid $yellow-4;
        transition: border-color $trans-fold ease $trans-fold;
      }
      &:after { // top
        border-left: $size-l/2 solid transparent;
        border-right: $size-l/2 solid $yellow-4;
        border-top: $size-l/2 solid $yellow-4;
        border-bottom: $size-l/2 solid transparent;
        box-shadow: 0px 0px 0px rgba($grey-5,0);
        transform-origin: center center;
        transform: rotate3d(-1, -1, 0, 0deg) translateX(-1px);
        transition: transform $trans-fold ease,
                    box-shadow $trans-fold ease,
                    border-color 0ms ease $trans-fold/2;
      }


      span {
        background: $yellow-4;
        display: block;
        width: calc(100% - 30px);
        text-align: center;
        line-height: $size-l;

        svg {
          height: $size-s;
          margin: 0 $size-xs;
          vertical-align: middle;
          fill: $grey-4;
          #arrow {
            transition: transform $trans-s ease;
          }
        }
      }
    }

    .item_title {
      background: $grey-1;
      @include type('l');
      font-weight: bold;
      margin: 0;
      padding: $size-xs $size-xs 0 $size-xs;
      flex: 0;
      min-height: 60px;
      text-overflow: ellipsis;
      overflow: hidden;
      transform: translate3d(0,0,0);
      @include media ("<460px") {
        font-size: $size-s;
      }
      @include media (">580px") {
        min-height: 30px;
        white-space: nowrap;
      }
      @include media (">HDPI") {
        min-height: 50px;
      }
    }

    .item_tags {
      background: $grey-1;
      @include type('s');
      margin: 0;
      padding: 0 $size-xs $size-s;
      flex: 0;
      min-height: 20px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      @include media (">HDPI") {
        min-height: 30px;
      }
    }
  }
  .portfolio-hor {
    .work_item {
      width: calc(100% - 190px);
      height: 30vh;
      max-width: 480px;
      min-height: 240px;
      @include media(">tablet") {
        height: calc(50vh - 170px);
        min-height: 100px;
      }
    }
  }

  .portfolio-vert {
    width: 100%;
    overflow-y: scroll;
    height: 100%;
    margin: 0 auto;
    padding: $size-s 0;
    .work_item {
      width: 100%;
      max-width: 570px;
      text-align: center;
      height: 30vh;
      min-height: 240px;
      display: flex;
      margin: 0 auto $size-s auto;
    }
  }
}

///// Swiper Overrides

.portfolio-hor {
    width: 100%;
    padding: $size-xs 0 $size-s;
    display: block;
    @include media(">HDPI") {
      display: none !important;
    }
}

.portfolio-vert {
  display: none;
  @include media(">HDPI") {
    display: block !important;
  }
}

.swiper-pagination.swiper-pagination {
  bottom: 0;
  height: 2px;
  background: #FFF;
}

.swiper-pagination-bullet {
  width: $size-l;
  height: 2px;
  background: $grey-2;
  border-radius: initial;
  opacity: 1;
  vertical-align: top;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0;
}

.swiper-pagination-bullet-active {
  background: $blue-4;
}

/////////

@keyframes fade-scale-in {
  0% {
    transform: scale(0.8); }
  100% {
    transform: scale(1);
    }
  }
