.work {
  .section_title {
    flex: 0 1 auto;
  }
  &_item {
    background: $grey-3;
    position: relative;
    text-align: center;
    padding: $size-s;
    color: #FFF;
    display: inline-flex;
    flex-flow: row wrap;
    align-items: flex-start;
    align-content: center;
    justify-content: center;
    text-decoration: none;

    &.brewbox {
      background-image: url('../images/brewbox.jpg');
      background-size: cover;
    }
    &.cci {
      background-image: url('../images/cci.png');
      background-size: cover;
    }
    &.h2h {
      background-image: url('../images/brewbox.jpg');
      background-size: cover;
    }
    &.brewbox {
      background-image: url('../images/h2h.jpg');
      background-size: cover;
    }
    &.base5 {
      background-image: url('../images/base5.jpg');
      background-size: cover;
    }
    &.wasm {
      background-image: url('../images/wasm.jpg');
      background-size: cover;
    }

    &::after {
      width: calc(100% - #{$size-s});
      height: calc(100% - #{$size-s});
      content: ' ';
      display: block;
      background: transparent;
      position: absolute;
      top: $size-s;
      left: $size-xs;
      border-radius: 50%;
      box-shadow: 0 0 $size-s rgba($grey-3,0.80);
      z-index: -1;
    }

    .item_title {
      @include type('l');
      font-weight: bold;
      margin: 0 auto $size-xs auto;
      flex: 1 0 100%;
    }

    .item_tags {
      @include type('s');
      margin: 0 auto $size-l auto;
      flex: 1  100%;

      @include media (">tablet") {
        margin: 0 auto $size-l auto;
      }
      @include media (">tablet", "height<780px") {
        margin: 0 auto;
      }
    }

    .item_cta {
      @include button('knockout', $grey-1, 'lighten');
      display: block;
      margin: 0 auto;
      position: absolute;
      bottom: $size-s*3;


      @include media ("<tablet") {
        box-shadow: none;
        padding-left: 0;
        padding-right: 0;
        bottom: $size-s;
        &:hover {
          background: transparent;
          color: $blue-1 !important;
        }
      }
      @include media (">tablet", "height<780px") {
        display: none;
      }
    }
  }
  .portfolio-hor {
    .work_item {
      width: calc(100% - 190px);
      height: 30vh;
      max-width: 480px;
      min-height: 240px;
      @include media(">tablet") {
        height: calc(50vh - 170px);
        min-height: 100px;
      }
    }
  }

  .portfolio-vert {
    width: 100%;
    overflow-y: scroll;
    height: 100%;
    margin: 0 auto;
    padding: $size-s 0;
    .work_item {
      width: 100%;
      text-align: center;
      height: 30vh;
      min-height: 240px;
      display: flex;
      margin: 0 0 $size-s 0;

      .item_cta {
        position: relative;
        bottom: 0;
      }
    }
  }
}

///// Swiper Overrides

.portfolio-hor {
    width: 100%;
    padding: $size-xs 0;
    display: block;
    @include media(">HDPI") {
      display: none !important;
    }
}

.portfolio-vert {
  display: none;
  @include media(">HDPI") {
    display: block !important;
  }
}

.swiper-pagination.swiper-pagination {
  bottom: 0;
  height: 2px;
  background: #FFF;
}

.swiper-pagination-bullet {
  width: $size-l;
  height: 2px;
  background: $grey-2;
  border-radius: initial;
  opacity: 1;
  vertical-align: top;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0;
}

.swiper-pagination-bullet-active {
  background: $blue-4;
}
