$trans-card: $trans-r;
$trans-cta: $trans-s;
$trans-fold: $trans-r;
$trans-card-delay: $trans-cta;
$trans-cta-delay: $trans-fold*.75;
$trans-fold-delay: $trans-cta/2;

.work {
  .section_title {
    flex: 0 1 auto;
  }

  &_item {
    background: $grey-5;
    position: relative;
    color: $grey-5;
    display: inline-flex;
    flex-flow: column;
    justify-content: flex-end;
    text-decoration: none;
    min-width: 190px;
    transition: transform $trans-card ease $trans-card-delay;
    box-shadow: 0 0 $size-l -10px $grey-3;
    background-size: cover;
    background-position: center;

    &:nth-child(1) {
      animation: fade-scale-in 500ms;
    }

    &:nth-child(2) {
      animation: fade-scale-in 750ms;
    }

    &:nth-child(3) {
      animation: fade-scale-in 1000ms;
    }

    &:nth-child(4) {
      animation: fade-scale-in 1250ms;
    }

    &:nth-child(5) {
      animation: fade-scale-in 1500ms;
    }

    &:hover {
      transform: translateY(-$size-xs);
      transition: transform $trans-card ease;

      .item_cta {
        transform: translateY(1px);
        transition: transform $trans-cta ease;

        &:before { // bottom
          border-right: $size-l/2 solid transparent;
          border-top: $size-l/2 solid transparent;
          transition: border-color $trans-fold/2 ease $trans-fold-delay - ($trans-fold/2),
                      transform 0ms ease $trans-fold-delay - ($trans-fold/2);
        }

        &:after { // top
          transform: rotate3d(-1, -1, 0, 180deg);
          border-right: $size-l/2 solid $yellow-2;
          border-top: $size-l/2 solid $yellow-2;
          box-shadow: 5px -2.5px 10px -2.5px rgba($grey-5,0.5);
          transition: transform $trans-fold ease-out $trans-fold-delay,
                      box-shadow $trans-fold ease $trans-fold-delay+($trans-fold/2),
                      border-color 0ms ease $trans-fold-delay+($trans-fold/2);
        }
      }
    }

    &.query {
      background-image: url("../images/query.jpg");
    }

    &.brewbox {
      background-image: url("../images/brewbox.jpg");
    }

    &.cci {
      background-image: url("../images/cci.jpg");
    }

    &.h2h {
      background-image: url("../images/h2h.jpg");
    }

    &.base5 {
      background-image: url("../images/base5.jpg");
    }

    &.wasm-data {
      background-image: url("../images/wasm-data.jpg");
    }

    .item_cta {
      position: relative;
      transform: translateY(26px);
      transition: transform $trans-cta $trans-cta-delay ease;
      @include type('s');
      height: $size-l;
      font-weight: 500;
      background: $yellow-4;
      display: block;
      width: calc(100% - 30px);
      text-align: center;
      line-height: $size-l;

      &:after,
      &:before {
        width: 0;
        height: 0;
        content: ' ';
        position: absolute;
        right: -$size-l;
        top: 0;
      }

      &:before { // bottom
        border-left: $size-l/2 solid $yellow-4;
        border-right: $size-l/2 solid $yellow-4;
        border-top: $size-l/2 solid $yellow-4;
        border-bottom: $size-l/2 solid $yellow-4;
        transition: border-color $trans-fold ease $trans-fold;
      }

      &:after { // top
        border-left: $size-l/2 solid transparent;
        border-right: $size-l/2 solid $yellow-4;
        border-top: $size-l/2 solid $yellow-4;
        border-bottom: $size-l/2 solid transparent;
        box-shadow: 5px -2.5px 10px -2.5px rgba($grey-5,0);
        transform-origin: center center;
        transform: rotate3d(-1, -1, 0, 0deg) translateX(-1px);
        transition: transform $trans-fold ease,
                    box-shadow $trans-fold ease,
                    border-color 0ms ease $trans-fold/2;
      }


      svg {
        height: $size-s;
        margin: 0 $size-xs;
        vertical-align: middle;
        fill: $grey-4;
      }
    }

    .item_meta {
      background: $grey-1;
      flex: 0;
    	transform-style: preserve-3d;
      bottom: -1px;
      position: relative;
      z-index: 10;
      transform: translateZ(100px);
      text-align: left;
    }


    .item_title {
      @include type('l');
      font-weight: 500;
      margin: 0;
      padding: $size-xs $size-xs 0 $size-xs;
      min-height: 60px;
      text-overflow: ellipsis;
      overflow: hidden;
      @include media ("<460px") {
        font-size: $size-s;
      }
      @include media (">580px") {
        min-height: 30px;
        white-space: nowrap;
      }
      @include media (">HDPI") {
        min-height: 50px;
      }
    }

    .item_tags {
      @include type('s');
      margin: 0;
      padding: 0 $size-xs;
      min-height: 20px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      display: block;
      @include media (">HDPI") {
        min-height: 30px;
      }
    }

    .item_product {
      @include type('s');
      font-weight: 500;
      background: $blue-1;
      padding: $size-xs/2 $size-xs;
      border-radius: $size-s;
      color: $blue-4;
      margin: 0 0 $size-s $size-xs;
      display: inline-block;
    }
  }

  .portfolio-hor {
    .work_item {
      width: calc(100% - 190px);
      height: 30vh;
      max-width: 480px;
      min-height: 240px;
    }
  }

  .portfolio-vert {
    width: 100%;
    margin: 0 auto;

    display: none;
    animation: fade-slide-in 1750ms;

    @include media(">tablet") {
      display: block !important;
      padding-top: $size-m;

      .work_item {
        width: 100%;
        max-width: 800px;
        text-align: left;
        height: 30vh;
        min-height: 480px;
        display: flex;
        margin: 0 auto $size-l auto;
      }
    }

    @include media(">desktop") {
      .work_item {
        margin: 0 auto $size-l*2 auto;
      }
    }

    @include media(">HDPI") {
      .work_item {
        display: inline-flex;
        width: calc(50% - #{$size-xl/2});

        &:nth-child(odd) {
          margin-right: $size-l;
        }

        &:nth-child(even) {
          top: 20vh;
        }
        &:last-child:nth-child(even) {
          margin-bottom: calc(20vh + #{$size-xl});
        }
      }
    }
  }
}

///// Swiper Overrides

.portfolio-hor {
  width: 100%;
  padding: $size-s 0 $size-s;
  display: block;
  margin-bottom: $size-l;
  @include media(">tablet") {
    display: none !important;
  }
}

.swiper-pagination.swiper-pagination {
  bottom: 0;
  height: 2px;
  background: #FFF;
}

.swiper-pagination-bullet {
  width: $size-l;
  height: 2px;
  background: $grey-2;
  border-radius: initial;
  opacity: 1;
  vertical-align: top;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0;
}

.swiper-pagination-bullet-active {
  background: $blue-4;
}



/////// IE10 fixes and sadness
@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
  .item_cta svg {
    display: none !important;
  }
  .portfolio-hor {
    padding-bottom: 100px;
  }
  .item_meta * {
    background-color: $grey-1;
  }

  .portfolio-vert .work_item {
    margin-bottom: 120px !important;
  }
}

@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) and (min-width: 1440px) {
  .wid .work {
    padding-bottom: 180px;
  }
}
