@import 'reset';
@import 'fonts';
@import 'colours';
@import 'variables';
body {
	font-family: 'Modum', HelveticaNeue, Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-size: 1em; // 16px
	line-height: $baseline;
	color: $grey-4;
}

.paragraph, p {
	font-family: 'Rubik', sans-serif;
  font-size: $baseline * .667; // 16px
  line-height: $baseline;
	background: $grey-1;
	padding: $baseline;
	font-weight: 300;
}

.bold {
	font-weight: 500;
}

.heading-1 {
  font-size: $baseline * 1.83; // 29px
  line-height: $baseline * 2;
	color: $orange-3;
	font-weight: 400;
	padding: $baseline;
	background: $blue-5;
}


.bee {
	width: 256px;
	transition: all 2s ease;
}
