/////////////////////////////
// Custom Angular Components
/////////////////////////////

@import "../app/components/first-component/first-component";

h1 {
	color: red;
}

.bee {
	width: 256px;
	transition: all 2s ease;
}
