.DS_Store
.sass-cache/
node_modules/
dist/
npm-debug.log

# Ignore unnecessary stuff pulled from Ghost
docs/case-studies/robots.txt
docs/case-studies/index.html
docs/case-studies/rss
docs/case-studies/author